
*.pdb
*.exe
*.idb
oop_lab2/x64/Debug/oop_lab2.vcxproj.FileListAbsolute.txt
*.lastbuildstate
*.tlog
*.obj
*.log
*.ilk
*.recipe
*.enc
*.ipch
*.vsidx
*.lock
.vs/oop_lab2/v17/.suo
*.db
*.db-shm
*.db-wal
*.opendb
